<tbody>
  <tr>
    <th class="bottom"><%= link_to favorite.food.name, food_path(favorite.food.id), class: :food__name%></th>
    <th class="bottom"><%= favorite.food.calorie %></th>
    <th class="bottom"><%= favorite.food.protein %></th>
    <th class="bottom"><%= favorite.food.fat %></th>
    <th class="bottom"><%= favorite.food.carbohydrate %></th>
    <th class="bottom"><%= favorite.food.vitamin_a %></th>
    <th class="bottom"><%= favorite.food.vitamin_b1 %></th>
    <th class="bottom"><%= favorite.food.vitamin_b2 %></th>
    <th class="bottom"><%= favorite.food.vitamin_c %></th>
    <th class="bottom"><%= favorite.food.sodium %></th>
    <th class="bottom"><%= favorite.food.calcium %></th>
    <th class="bottom"><%= favorite.food.iron %></th>
    <th class="bottom"><%= favorite.food.zinc %></th>
    <td class="bottom"><%= favorite.food.salt %></td>
  </tr>
</tbody>