<tbody>
  <tr>
    <th class="bottom"><%= link_to food.name, food_path(food.id), class: :food__name %></th>
    <th class="bottom"><%= food.calorie %></th>
    <th class="bottom"><%= food.protein %></th>
    <th class="bottom"><%= food.fat %></th>
    <th class="bottom"><%= food.carbohydrate %></th>
    <th class="bottom"><%= food.vitamin_a %></th>
    <th class="bottom"><%= food.vitamin_b1 %></th>
    <th class="bottom"><%= food.vitamin_b2 %></th>
    <th class="bottom"><%= food.vitamin_c %></th>
    <th class="bottom"><%= food.sodium %></th>
    <th class="bottom"><%= food.calcium %></th>
    <th class="bottom"><%= food.iron %></th>
    <th class="bottom"><%= food.zinc %></th>
    <td class="bottom"><%= food.salt %></td>
  </tr>
</tbody>