<%= form_with model: food, local: true do |f|%>

<%= render 'error_messages', model: f.object %>

  <div class="field">
    <%= f.text_field :name, placeholder:"食品名", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :calorie, placeholder:"カロリー(kcal)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :protein, placeholder:"タンパク質 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :fat, placeholder:"脂質 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :saturated_fat, placeholder:"飽和脂肪酸 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :n_6_fat, placeholder:"n-6系脂肪酸 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :n_3_fat, placeholder:"n-3系脂肪酸 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :cholesterol, placeholder:"コレステロール (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :carbohydrate, placeholder:"炭水化物 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :dietary_fiber, placeholder:"食物繊維 (g)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_a, placeholder:"ビタミンA (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_d, placeholder:"ビタミンD (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_e, placeholder:"ビタミンE (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_k, placeholder:"ビタミンK (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b1, placeholder:"ビタミンB1 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b2, placeholder:"ビタミンB2 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b6, placeholder:"ビタミンB6 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b12, placeholder:"ビタミン12 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_c, placeholder:"ビタミンC (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :niacin, placeholder:"ナイアシン (mgNE)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :folate, placeholder:"葉酸 (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :pantothenic, placeholder:"パントテン酸 (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :sodium, placeholder:"ナトリウム (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :potassium, placeholder:"カリウム (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :calcium, placeholder:"カルシウム (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :magnesium, placeholder:"マグネシウム (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :phosphorus, placeholder:"リン (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :iron, placeholder:"鉄 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :zinc, placeholder:"亜鉛 (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :copper, placeholder:"銅 (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :manganese, placeholder:"マンガン (mg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :iodine, placeholder:"ヨウ素 (μg)", class: :text__field%>
  </div>
  <div class="field">
    <%= f.text_field :selenium, placeholder:"セレン (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :chromium, placeholder:"クロム (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :molybdenum, placeholder:"モリブデン (μg)", class: :text__field %>
  </div>
  <div class="field">
    <%= f.text_field :salt, placeholder:"食塩相当量 (g)", class: :text__field %>
  </div>
  <div class="actions">
    <%= f.submit "登録する", class: :btn__solid %>
  </div>
<% end %>