<%= form_with model: food, local: true do |f|%>

<%= render 'error_messages', model: f.object %>

  <div class="field">
    <%= f.text_field :name, placeholder:"食品名" %>
  </div>
  <div class="field">
    <%= f.text_field :calorie, placeholder:"カロリー(kcal)" %>
  </div>
  <div class="field">
    <%= f.text_field :protein, placeholder:"タンパク質 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :fat, placeholder:"脂質 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :saturated_fat, placeholder:"飽和脂肪酸 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :n_6_fat, placeholder:"n-6系脂肪酸 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :n_3_fat, placeholder:"n-3系脂肪酸 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :cholesterol, placeholder:"コレステロール (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :carbohydrate, placeholder:"炭水化物 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :dietary_fiber, placeholder:"食物繊維 (g)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_a, placeholder:"ビタミンA (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_d, placeholder:"ビタミンD (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_e, placeholder:"ビタミンE (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_k, placeholder:"ビタミンK (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b1, placeholder:"ビタミンB1 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b2, placeholder:"ビタミンB6 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b6, placeholder:"ビタミンB12 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_b12, placeholder:"ビタミンC (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :vitamin_c, placeholder:"ナイアシン (mgNE)" %>
  </div>
  <div class="field">
    <%= f.text_field :niacin, placeholder:"葉酸 (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :folate, placeholder:"パントテン酸 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :pantothenic, placeholder:"ビオチン (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :natrium, placeholder:"ナトリウム (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :potassium, placeholder:"カリウム (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :calcium, placeholder:"カルシウム (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :magnesium, placeholder:"マグネシウム (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :phosphorus, placeholder:"リン (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :iron, placeholder:"鉄 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :zinc, placeholder:"亜鉛 (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :copper, placeholder:"銅 (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :manganese, placeholder:"マンガン (mg)" %>
  </div>
  <div class="field">
    <%= f.text_field :iodine, placeholder:"ヨウ素 (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :selenium, placeholder:"セレン (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :chromium, placeholder:"クロム (μg)" %>
  </div>
  <div class="field">
    <%= f.text_field :molybdenum, placeholder:"モリブデン (μg)" %>
  </div>
  <div class="actions">
    <%= f.submit "登録する", class: :form__btn  %>
  </div>
<% end %>